@charset "utf-8";
* {
	padding: 0px;
	margin: 0px;
	width: auto;
    text-align: center;
    text-shadow: 2px 2px #00ff0a;
	
}

body {
	background-color: #FF52F3;
	background-image: url(background.jpg);
	font-family: bonbon;
	font-style: normal;
	text-align: left;
	font-size: 25px;
	font-weight: bolder;
	text-transform: uppercase;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-style: oblique;

}

#wrapper {
	background-image: url(background.png);
    background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-position: left;
	background-repeat: round;
	background-size: contain;
	background-position: center;
	margin: auto;
    
}
header {
	text-align: center;
	background-image: url(header.png);
	background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-position: center;
	height: 120px;
	font-size: 70px;
	padding: 2em 0em 0em 0em;
    font-family: fantasy;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 2% 20% 2% 20%;
}
#left {
	background-image: url(left.png);
    background-size: 100% 100%;
	-webkit-background-size: 100% 100%;        /*  Safari  */
	-khtml-background-size: 100% 100%;         /*  Konqueror  */
	-moz-background-size: 100% 100%;
	float: left;
	min-width: 280px;
	width: 40%;
	height: 400px;
	line-height:400px;
	padding: 10px;
	margin: 4% 0 0 4%;
   
}
#right {
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;        /*  Safari  */
	-khtml-background-size: 100% 100%;         /*  Konqueror  */
	-moz-background-size: 100% 100%;
	background-image: url(right.png);
	float: right;
	min-width: 280px;
    width: 40%;
    height: 400px;
	line-height: 400px;
	margin: 4% 4% 0 0;
}
a {
	text-decoration: none;
	color: #5100FF;
}
a:hover {
	color: #FF9600;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 40px;
    
    }
footer {
	background-color: yellowgreen;
	text-align: center;
	position:fixed;
	font-size: 20px;
    bottom:5px; 
    width: 100%;
	height:20px;
	padding: 0%;
	margin: 0%;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
/*   CELL PHONE     */
@media (max-width: 375px){
	* {
	padding: 0px;
	margin: 0px;
	width: auto;
	
}

body {
	background-color: #FF52F3;
	background-image: url(../../images/trippy_image.0.jpg);
	font-family:"JMH Psychedelic CAPS";

}
#wrapper {
	background-image: url(background.png);
	  background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-position: left;
	background-size: contain;
	width: 70%;
	height:px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}
header {
	text-align: center;
	padding: 1em;
	background-image: url(header.png);
	background-size:100% 100%;
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;          
	background-position: center;
	font-size: 25px;
	height:75px;
}
#left {
	background-image: url(left.png);
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;        /*  Safari  */
	-khtml-background-size: 100% 100%;         /*  Konqueror  */
	-moz-background-size: 100% 100%;
	background-position: left;
	float: left;
	width: 40%;
	height: 300px;
	padding: 1em;
	margin: 1em;
	text-align: center;
}
#right {
	width: 60%;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;        /*  Safari  */
	-khtml-background-size: 100% 100%;         /*  Konqueror  */
	-moz-background-size: 100% 100%;
	background-image: url(right.png);
	background-position: bottom;
	float: right;
	width: 40%;
	height: 300px;
	padding: 1em;
	margin: 1em;
	text-align: center;
}
a {
	text-decoration: none;
	color: #5100FF;
}
a:hover {
	color: #FF9600;
}
footer {
	background-color: yellowgreen;
	text-align: center;
    position:fixed;
    bottom:5px; 
    width:100%;
    height:20px;
	 font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}