body {
  padding: 0 20px;
  margin: 0;
  background: #2E3F4F;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #2E3F4F 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2E3F4F 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2E3F4F 0%, black 100%);
}

/** Header styles **/
.header {
  background-image: url("backdrop-1920.jpg");
  height: 300px;
  width: auto;
  background-position: center center;
}
.footer {
    position: fixed;
    height: 300px;
    color: #E99E32;
    font-size-adjust: inherit;
}
.who {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #2E3F4F;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.who p {
  color: #938E89;
  text-align: center;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Wilby Description */
.art {
  background-color: #E99E32;
}

.story {
  background-color: #A2B55B;
}

.hunk {
  background-color: #B54A37;
}

/* Typography */
h1 {
  color: #B54A37;
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: #41292C;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: #444444;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
